<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Модель</th>
            <th>Серия</th>
            <th>Пользователь</th>
            <th>Год</th>
        </tr>
        <tr th:each="car : ${cars}">
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getSeries()}"></td>
                <td th:text="${car.getUser()}"></td>
                <td th:text="${car.getYear()}"></td>
        </tr>
    </table>
</div>
</body>
</html>